.centrado-abajo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 3px solid white;
}
.brand-custom {
    display: inline-block;
    background-color: #057da1; 
    color: #fff; 
    border-radius: 50%; 
    text-align: center;
    width: 50px; 
    height: 50px; 
    line-height: 40px; 
    font-weight: bold; 
}